.main_container_landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 2rem;
}

.content_landing {
  margin-top: 6rem;
  height: 85%;
  width: 100%;
  display: flex;
  margin: 0rem 8.5rem;
}

.text_section_landing {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: left;
    font-size: 3vw;
    color: white;
  }
}

.button_container_landing {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 2%;
  button {
    width: 40%;
    height: 3rem;
    border-radius: 3rem;
    color: rgb(90, 90, 90);
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    border: none;
    border: 1px solid black;

    &:hover {
      border: 1px solid white;
      background-color: transparent;
      color: white;
      font-weight: 600;
    }
  }
}

.image_section_landing {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  img {
    border: 5px solid white;
    background-size: cover;
    height: 85%;
  }
}

@media (max-width: 945px) {
  .content_landing {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0rem;
  }

  .text_section_landing {
    position: absolute;
    z-index: 3;
    width: 50%;
    p {
      /* text-shadow: 1px 2px gray; */
      color: white !important;
    }
  }

  .image_section_landing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
      border: none;
    }
  }
}

@media (max-width: 550px) {
  .main_container_landing {
    overflow: hidden;
  }
  .content_landing {
    margin-top: 1rem;
  }
  .text_section_landing {
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    p {
      width: 100%;
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .image_section_landing {
    overflow: hidden !important;
    /* margin-top: 5rem; */
  }

  .button_container_landing {
    display: flex;
    align-items: center;
    button {
      width: 60%;
      font-size: 0.8rem;
    }
  }
}
