.main_frame {
  z-index: 1;
  position: relative;
  height: 1200vh;
  background-color: white !important;
  transition: opacity 0.5s ease-in-out;
}

.canvas {
  object-fit: cover;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
