.main_exp_phone {
  display: none;
  height: auto;
  width: 100vw;
  .title_exp {
    margin-top: 4rem;
    font-size: 3rem;
    color: #3f4c6b;
    text-align: center;
  }

  .content_exp {
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .section_exp {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
      -3px -3px 8px rgba(255, 255, 255, 0.5),
      inset 1px 1px 2px rgba(0, 0, 0, 0.1),
      inset -1px -1px 2px rgba(255, 255, 255, 0.7);
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background-color: #ffffff;
    border-radius: 1.5rem;
    @media (max-width: 740px) {
      flex-direction: column;
    }
  }

  .box_text_exp {
    width: 50%;
    height: 25%;
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    align-items: center;
    @media (max-width: 740px) {
      width: 100%;
      flex-direction: column;
    }
  }

  .left_exp {
    justify-content: left !important;
  }

  .box_img_exp {
    width: 50%;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: start;
  }

  .text_container_exp {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 1.5rem;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    p {
      text-align: left;
      color: rgb(90, 90, 90);
    }
  }

  .title_text_exp {
    font-weight: 600;
    width: 100%;
    margin-bottom: 0.5rem;
    span {
      border-bottom: 2px solid #3f4c6b;
      color: #3f4c6b;
      cursor: pointer;
    }
  }

  .date_exp {
    width: 100%;
    text-align: right !important;
    margin-top: 0.5rem;
    color: rgb(120, 120, 120) !important;
  }

  .know_landing {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    button {
      display: none;
    }
  }

  /* .know_landing:hover {
      background-color: rgba(0, 0, 0, 0.5);
      button {
        height: 2.8rem;
        width: 30%;
        border: 1px solid black;
        background-color: #ffffff;
        border-radius: 1.5rem;
        display: block;
        cursor: pointer;
      }
    } */

  .MuiToolbar-root {
    padding: 0rem 7rem !important;
  }
  @media (max-width: 740px) {
    display: block;
  }
}
