* {
  margin: 0rem;
  padding: 0rem;
}

.home_container {
  overflow-x: clip;
  height: auto;
  z-index: 1;
  width: 100vw;
}

.port-div-on-top {
  width: 100%;
  transition: position 0.3s ease-in-out;
  position: relative;
  z-index: 10;
  background-color: #fafafa;
  padding: 0.5rem;
  -webkit-box-shadow: 7px -200px 143px 60px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 7px -200px 143px 60px rgba(0, 0, 0, 0.12);
  box-shadow: 7px -200px 143px 60px rgba(0, 0, 0, 0.12);
}
