.main_project {
  margin-top: 6rem;
  height: 200vh;
  width: 100vw;
}

.content_project {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_project {
  font-size: 3rem;
  color: #3f4c6b;
  text-align: center;
}

.project_section {
  position: relative;
  z-index: 1;
  height: 80%;
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  align-items: center;
  border-radius: 1.5rem;
  @media (max-width: 740px) {
    width: 100%;
    background-color: transparent;
  }
}

.project_section2 {
  margin-top: 2rem;
  border-radius: 1.5rem;
}

.donut {
  position: absolute;
  width: 90vw;
  display: flex;
  justify-content: right;
  z-index: 0;
}

.box_project {
  background-color: #ffffff;
  width: 74%;
  height: 87%;
  border-radius: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
    -3px -3px 8px rgba(255, 255, 255, 0.5), inset 1px 1px 2px rgba(0, 0, 0, 0.1),
    inset -1px -1px 2px rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;

  @media (max-width: 740px) {
    width: 83%;
    height: 92%;
  }
}

.left_project {
  position: relative;
  right: 2rem;
  background-color: #ffffff;
  height: 88%;
  width: 51%;
  img {
    background-position: center;
    /* background-size: cover; */
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.right_project {
  width: 50%;
  height: 100%;
  /* padding: 1.5rem; */
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  p {
    color: rgb(90, 90, 90);
    margin-bottom: 1rem;
  }
}

.name_project {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
}

.para_project {
  width: 80%;
  font-size: 1.5rem;
  font-weight: 300;
}

.desc_project {
  width: 90%;
  font-size: 0.9rem;
  font-weight: 300;
}
