$primary-color: #3f4c6b;
$secondary-color: #ffffff;

$primary-font-color: rgb(90, 90, 90);

$border-radius: 5px;

$font-size-xl: 1.3rem;
$font-size-lg: 1.2rem;
$font-size-sm: 1.1rem;
$font-size-xs: 1rem;
