@media (max-width: 851px) {
  .MuiToolbar-root {
    padding: 1rem !important;
  }
}

.css-5czdux-MuiPaper-root-MuiAppBar-root {
  background-color: #ffff !important;
  color: rgb(90, 90, 90) !important;
}

.css-1accv8u-MuiButtonBase-root-MuiButton-root {
  color: rgb(90, 90, 90) !important;
}

.logo_container_nav {
  height: 4rem;
  width: 15rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}


.button_container_nav {
  height: 100%;
  width: 20%;
}

.button_nav {
  height: 4rem;
  width: 7rem;
}
