.main_app {
  background: linear-gradient(180deg, #606c88, #3f4c6b);
}

.button_container_app {
  position: fixed;
  z-index: 3;
  height: 2rem;
  top: 37rem;
  width: 95%;
  display: flex;
  justify-content: end;
  img {
    object-fit: cover;
    background-position: center;
    height: 100%;
    cursor: pointer;
  }
}
