.main_app {
  overflow-x: clip;
  background-color: #ffffff;
}

.button_container_app {
  position: fixed;
  height: 1.8rem;
  bottom: 2rem;
  right: 0;
  margin: 16px;
  z-index: 1000;
  img {
    object-fit: cover;
    background-position: center;
    height: 100%;
    cursor: pointer;
  }
}
